<% title [title, site.name].join(' - ') %>

<div id="content">
  <h2 class="title"><%= @blog.title %></h2>

  <p class="breadcrumbs">
    <%= breadcrumbs :style => :inline, :separator => "&raquo;" %>
  </p>

  <article>
    <%= yield %>
  </article>

  <%= render "sidebar" %>
</div>
