.post
  %h3= link_to_unless_current post.title, post
  
  %ul.meta 
    %li.date= post.published_at.to_date.to_s(:long_ordinal)
    
    - if post.author
      %li.author= post.author.name
      
    - if post.tags.any?
      %li.tags= blog_post_tag_links(post)
      
  .content
    ~ post.content
